@font-face {
    font-family: Gang of Three;
    src: url(font/go3v2.ttf);
}

@font-face {
    font-family: Hashiba;
    src: url(font/Hashiba.ttf);
}

@font-face {
    font-family: Katanf;
    src: url(font/Katanf.ttf);
}

body {
    padding: 0%;
    margin: 0%;
    background-image: url(img/marco-petracca-highresscreenshot00022.jpg);
    background-size: cover;
    background-position: 56%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
    background-color: rgba(0, 0, 0, 0.568);
    padding: 1%;
}
.titulo {
    display: flex;
    flex-direction: column;
}
.titulo img{
    margin-left: 35%;
}

h1 {
    color: rgb(234, 255, 184);
    padding-top: 3%;
    font-family: Gang of Three;
    margin-left: 17%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    list-style: none;
    text-align: center;
    margin-right: 15%;

}

li {
    margin-left: 2.5%;
    border-bottom: 0px;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(234, 255, 184);
}

h2 {
    text-align: center;
    font-family: Hashiba;
    color: rgb(255, 190, 116);
}

section {
    color: whitesmoke;
    margin-top: 2%;
}
.hacer-karate {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

iframe {
    width: 100%;
    height: 300px;
}

.d-block.w-50 {
    margin-left: 25%;
    border-radius: 2%;
}
.nuestro-dojo-texto {
    margin-left: 5%;
    margin-right: 5%;
}
.personas{
    height: 75%;
    width: 75%;
    margin-left: 10%;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    background-color: rgba(221, 155, 56, 0.7);
    border-radius: 2%;
    padding: 1%;
}

.formulario label {
    color: rgb(112, 79, 30);
    font-family: Hashiba;
    font-size: 25px;
}

.comentario-formularios {
    padding-bottom: 10%;
    margin-bottom: 1%;
}

.col-auto {
    text-align: center;
}

.col-auto button {
    background-color: rgb(255, 167, 36);
    border: rgb(255, 167, 36);
}
.banner {
    width: 100%;
    height: 100%;
}
footer {
    background-color: rgba(255, 255, 255, 0.151);
    padding: 1%;
}


footer nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;
    list-style: none;
    margin-right: 15%;
}

footer p {
    text-align: center;
    color: white;
}


@media (min-width: 421px) {
    body {
        padding: 0%;
        margin: 0%;
        background-image: url(img/marco-petracca-highresscreenshot00022.jpg);
        background-size: cover;
        background-position: 56%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    header {
        background-color: rgba(0, 0, 0, 0.568);
        padding: 1%;
    }
    .titulo {
        display: flex;
        flex-direction: row;
    }
    .titulo img{
        margin-left: 0%;
    }
    h1 {
        color: rgb(234, 255, 184);
        padding-top: 3%;
        font-family: Gang of Three;
        font-size: 20px;
        margin-left: 25%;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        list-style: none;
        margin-left: 5%;

    }

    li {
        margin-left: 2.5%;
        border-bottom: 0px;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        color: rgb(234, 255, 184);
    }

    h2 {
        text-align: center;
        font-family: Hashiba;
        color: rgb(255, 190, 116);
    }

    section {
        color: whitesmoke;
        margin-top: 2%;
    }
    .hacer-karate {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .d-block.w-50 {
        margin-left: 25%;
    }
    .nuestro-dojo-texto {
        margin-left: 5%;
        margin-right: 5%;
    }
    .personas{
        height: 75%;
        width: 75%;
        margin-left: 10%;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 1%;
        background-color: rgba(221, 155, 56, 0.7);
        border-radius: 2%;
        padding: 1%;
    }

    .formulario label {
        color: rgb(112, 79, 30);
        font-family: Hashiba;
        font-size: 25px;
    }

    .comentario-formularios {
        padding-bottom: 10%;
        margin-bottom: 1%;
    }

    .col-auto {
        text-align: center;
    }

    .col-auto button {
        background-color: rgb(255, 167, 36);
        border: rgb(255, 167, 36);
    }
    .banner {
        width: 100%;
        height: 100%;
    }
    footer {
        background-color: rgba(255, 255, 255, 0.151);
        padding: 1%;
    }

    footer nav ul{
        display: flex;
        text-align: center;
        margin-left: 15%;
        flex-direction: row;
        font-size: 20px;
        list-style: none;

    }

    footer p {
        text-align: center;
        color: white;
    }
    
}


@media (min-width: 801px) {
    body {
        padding: 0%;
        margin: 0%;
        background-image: url(img/marco-petracca-highresscreenshot00022.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54%;

    }

    .titulo {
        display: flex;
        flex-direction: row;
    }
    .titulo img{
        margin-left: 0%;
    }

    header {
        background-color: rgba(0, 0, 0, 0.568);
        padding: 1%;
    }
    header nav{
        margin-left: 10%;
    }

    h1 {
        color: rgb(234, 255, 184);
        margin-left: 35%;
        padding: 1%;
        font-family: Gang of Three;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        font-size: 20px;
        list-style: none;
    }

    li {
        margin-left: 2.5%;
        border-bottom: 0px;
    }

    li a {
        color: white;
        text-decoration: none;
    }

    li a:hover {
        color: rgb(234, 255, 184);
    }

    h2 {
        text-align: center;
        font-family: Hashiba;
        color: rgb(255, 190, 116);
    }

    section {
        color: whitesmoke;
        margin-top: 2%;
    }

    .hacer-karate {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
    }

    .hacer-karate p {
        margin-right: 1%;
    }

    .d-block.w-50 {
        border-radius: 2%;
        padding: 0%;
    }

    .carousel-control-next,
    .carousel-control-prev {
        margin-left: 20%;
        margin-right: 20%;
    }

    iframe {
        margin-left: 20%;
        width: 60%;
        height: 500px;
    }

    .nuestro-dojo-texto {
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 40%;
        background-image: url(img/personas.jpg);
        background-size: 140% 100%;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.3);
        background-blend-mode: darken;
        border-radius: 1%;
    }

    .nuestro-dojo-texto p {
        padding: 5%;
        margin-right: 10%;
        color: rgb(255, 225, 199);
        font-family: Katanf;
        font-size: 18px;
    }
    .personas{
        display: none;
    }
    .formulario {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 1%;
        background-color: rgba(221, 155, 56, 0.7);
        border-radius: 2%;
        padding: 1%;
    }

    .formulario label {
        color: rgb(112, 79, 30);
        font-family: Hashiba;
        font-size: 25px;
    }

    .comentario-formularios {
        padding-bottom: 10%;
        margin-bottom: 1%;
    }

    .col-auto {
        text-align: center;
    }

    .col-auto button {
        background-color: rgb(255, 167, 36);
        border: rgb(255, 167, 36);
    }

    .banner {
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }

    footer {
        background-color: rgba(255, 255, 255, 0.151);
        padding: 1%;
    }

    footer nav {
        margin-left: 25%;
    }
    footer nav ul{
        display: flex;
        text-align: center;
        flex-direction: row;
        font-size: 20px;
        list-style: none;
        margin-left: 1%;

    }
    footer p {
        text-align: center;
        margin-right: 3%;
    }
}